:root{
    --default-font: "Arial";
    --navbar-bg-color: rgba(0, 0, 0, 0.898);
    --navbar-bg-inactive-color: rgba(255, 255, 255, 0);
    --navbar-char-color: rgb(255, 255, 255);
    --left-container-about-bgColor: ;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Modificando tamanho global do slider */
.slick-slider{
    width: 455px;
}

body{
    font-family: var(--default-font);
}

header nav.navbar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 35px 55px;
    background-color: var(--navbar-bg-inactive-color);
    color: var(--navbar-char-color);
    transition: 0.2s ease-in;
}

header nav.navbar.visible {
    position: fixed;
    background-color: var(--navbar-bg-color);
    transition: 0.2s ease-in;
    z-index: 2;
}

header nav.navbar > a{
    display: none;
}

header nav.navbar > .mobile-nav{
    display: none;
}

header > nav.navbar > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

header > nav.navbar > ul > li{
    list-style-type: none;
    margin-right: 17px;
    font-size: 20px;
}

header > nav.navbar > ul > li > a{
    text-decoration: none;
    color: var(--navbar-char-color);
}
header > nav.navbar > ul > li > a:hover{
    text-decoration: underline;
}

header > nav.navbar > ul > li.active{
    font-weight: 900;
}

/*  -------------------------------------------------------------------------  */
main section.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-image: url("../imgs/capa1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 750px;
} 

main section.banner > .right-info{
    width: 700px;
    height: auto;
    padding: 15px 5px;
    margin: 186px 150px;
    color: var(--navbar-char-color);
    font-family: sans-serif;
}

main section.banner > .right-info > h1{
    font-weight: 10;
    font-size: 60px;
    margin-bottom: 15px;
}

main section.banner > .right-info > p{
    font-size: 19px;
    width: 500px;
    
    line-height: 25px;
}

main section.info{
    display: flex;
    border-top: 14px solid rgba(37,21,54,255) ;
    background-color: rgba(71,38,99,255);
    height: 500px;
}

main section.info img{
    position: absolute;
    right: 200px;
    margin-top: -100px;
    width: 600px;
    height: 586px;
}

main section.info > .left-info{
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    padding: 10px 30px;
    width: 750px;
    z-index: 1;
    margin: 70px 0px 0px 170px;
    color: var(--navbar-char-color);
    font-size: 17px;
}

main section.info > .left-info > h1{
    font-size: 43px;
    font-weight: 100;
    margin-bottom: 25px;
}

main section.info > .left-info > p{
    margin-bottom: 10px;
    
}

main section.info > .left-info > ul > li{
    margin-left: 20px;
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
}

main section.info > .left-info > button{
    border: 0px;
    width: 220px;
    margin-top: 30px;
    padding: 20px;
    font-size: 17px;
    font-weight: 800;
    color: var(--navbar-char-color);
    background-color: rgba(255,112,62,255);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

main section.info > .left-info > button:hover{
    background-color: #ff976d;
    transition: 0.1s ease-in;
}
/* ---------------------------------------------------------------------------------- */

main section.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

main section.about > h1{
    font-size: 30px;
    font-weight: 100;
    margin-bottom: 35px;
}

main section.about > p{
    width: 920px;
    text-align: center;
    margin-bottom: 50px;
    line-height: 25px;
}

main section.about > img{
    position: relative;
    width: 750px;
    z-index: 1;
}

main section.about > .sub-container{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    margin-top: 420px;
}

main section.about > .sub-container > .left-container{
    padding: 180px 0px 0px 23%;
    background-color: rgba(131,95,168,255);
    color: var(--navbar-char-color);
    width: 50%;
}
main section.about > .sub-container > .left-container > h1{
    font-weight: 100;
    margin-bottom: 10px;
}

main section.about > .sub-container > .left-container > p{
    font-weight: 100;
    line-height: 25px;
}

main section.about > .sub-container > .right-container{
    padding: 180px 0px 0px 0px;
    width: 50%;
}

main section.about > .sub-container > .right-container .slider .content{
    padding-left: 30px;
}

main section.about > .sub-container > .right-container .slider .content  img{
    width: 65px;
    position: absolute;
    border-radius: 50px;
    margin: 0px 0px 0px 280px;
}

main section.about > .sub-container > .right-container .slider .content  p{
    width: 300px;
}
main section.about > .sub-container > .right-container .slider .content h1{
    font-size: 26px;
    margin-top: 15px;
}
main section.about > .sub-container > .right-container .slider .content h3{
    font-weight: 800;
    font-size: 14px;
    margin-bottom: 10px;
}
/* -------------------------------------------------------------------------- */

main section.contact{
    position: relative;
    margin-top: 220px;
    background-color: rgba(71,38,99,255);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 110px 260px;
    color: var(--navbar-char-color);
}

main section.contact > .form {
    width: 400px;
}

main section.contact > .form form{
    display: flex;
    flex-direction: column;
}

main section.contact > .map{
    display: flex;
    flex-direction: column;
    width: 500px;
    padding-top: 60px;
}

main section.contact > .form > h1,
main section.contact > .map > h1
{
    font-weight: 100;
    font-size: 33px;
    margin-bottom: 18px
}

main section.contact > .form > p{
    font-size: 17px;
    margin-bottom: 10px;
    line-height: 25px;
}

main section.contact > .form form > input{
    height: 50px;
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

main section.contact > .form form > textarea{
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

main section.contact > .form form > button{
    border: 0px;
    width: 170px;
    margin-top: 10px;
    padding: 20px;
    font-size: 17px;
    font-weight: 800;
    color: var(--navbar-char-color);
    background-color: rgba(255,112,62,255);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s ease-in;
}

main section.contact > .form form > button:hover{
    background-color: #ff976d;
    transition: 0.1s ease-in;
}

/* --------------------------------------------------------------------- */
footer{
    padding: 55px 20%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color:  black;
    color: var(--navbar-char-color);
    justify-content: space-between;
}


/* mobile */
@media screen and (max-width: 950px) {
    header nav.navbar{
        padding: 35px 17px;
    }

    header nav.navbar > a{
        display: block;
        color: var(--navbar-char-color);
        text-decoration: none;
    }    
    
    header nav.navbar > .mobile-nav{
        display: none;
        flex-direction: column;
        position: absolute;
        align-items: center;
        text-align: center;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.932);
        margin-left: -17px;
        margin-top: 50px;
        padding: 20px;
    }    

    header nav.navbar > .mobile-nav.nav-active{
        display: flex;
    }

    header > nav.navbar > ul{
        display: none;
    }
    
    header > nav.navbar > .mobile-nav > ul > li{
        list-style-type: none;
        margin-right: 17px;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    header > nav.navbar > .mobile-nav > ul > li > a{
        text-decoration: none;
        color: black;
    }
    header > nav.navbar > .mobile-nav > ul > li > a:hover{
        text-decoration: underline;
    }
    
    header > nav.navbar > ul > li.active{
        font-weight: 900;
    }

    main section.banner{
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        background-position: center;
    } 

    main section.banner > .right-info{
        width: 340px;
        margin: 186px 10px;
    }
    
    main section.banner > .right-info > h1{
        font-size: 30px;
    }
    
    main section.banner > .right-info > p{
        width: 350px;
    }

    main section.info{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    main section.info img{
        display: none;
    }
    
    main section.info > .left-info{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        padding: 10px 30px;
        width: 350px;
        z-index: 1;
        margin: 70px 0px 0px 10px;
        color: var(--navbar-char-color);
        font-size: 17px;
    }
    
    main section.info > .left-info > h1{
        font-size: 30px;
        font-weight: 100;
        margin-bottom: 25px;
    }

    main section.about > h1{
        font-size: 25px;
        font-weight: 100;
        margin-bottom: 35px;
        padding-left: 8px;
    }
    
    main section.about > p{
        width: 300px;
    }
    
    main section.about > img{
        width: 340px;
    }
    
    main section.about > .sub-container{
        flex-wrap: nowrap;
        flex-direction: column;
        position: absolute;
        align-items: center;
        margin-top: 380px;
        width: 100%;
    }
    
    main section.about > .sub-container > .left-container{
        padding: 180px 0px 0px 15px;
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    main section.about > .sub-container > .left-container > h1{
        font-weight: 700;
        width: 390px;
    }
    
    main section.about > .sub-container > .left-container > p{
        width: 350px;
        margin-bottom: 55px;
        text-align: center;
    }
    
    main section.about > .sub-container > .right-container{
        padding: 50px 0px 0px 0px;
        width: 370px;
    }

    main section.about > .sub-container > .right-container .slider .content{
        padding-left: 10px;
    }
    
    main section.about > .sub-container > .right-container .slider .content  img{
        width: 65px;
        position: absolute;
        border-radius: 50px;
        margin: 0px 0px 0px 280px;
    }
    
    main section.about > .sub-container > .right-container .slider .content  p{
        width: 300px;
    }
    main section.about > .sub-container > .right-container .slider .content h1{
        font-size: 26px;
        margin-top: 15px;
    }
    main section.about > .sub-container > .right-container .slider .content h3{
        font-weight: 800;
        font-size: 14px;
        margin-bottom: 10px;
    }

    main section.contact{
        position: relative;
        margin-top: 600px;
        align-items: center;
        background-color: rgba(71,38,99,255);
        justify-content: center;
        padding: 110px 20px;
        color: var(--navbar-char-color);
    }
    
    main section.contact > .form {
        width: 290px;
    }

    /* Modificando tamanho global do slider */
    .slick-slider{
        width: 370px;
    }

    footer > p{
        margin-bottom: 15px;
        font-size: 15px;
        font-weight: 900;
    }

}